/* -------------------------------- 

File#: _1_tabbed-navigation-v2
Title: Tabbed Navigation v2
Descr: Tabbed (secondary) navigation
Usage: codyhouse.co/license

-------------------------------- */

//.tabs-nav-v2 {
 
 // display: flex;
  //flex-wrap: wrap;
  //border-bottom: var(--tabs-nav-border-width) solid var(--color-contrast-low);

//   li {
//     display: inline-block; // flexbox fallback
//     margin-right: var(--space-md);
//     margin-bottom: var(--space-md);    
//   }
// }

// .tabs-nav-v2__item {
//   display: inline-block;
//   padding: var(--space-xs) var(--space-sm);
//   border-radius: var(--radius-md);
//   //background-color: var(--color-contrast-low);
//   color: inherit;
//   white-space: nowrap;
//   text-decoration: none;


//   &:hover {
//     color: var(--color-primary-light);
//     text-decoration: underline;
//     -webkit-text-underline-position: under;
//     -ms-text-underline-position: under;
//     text-underline-position: under;   
//   }
// }

// .tabs-nav-v2__item--selected,
// .tabs-nav-v2__item[aria-selected="true"] {
//   color: var(--color-accent-darker);
//   //background-color: var(--color-contrast-higher);
//   text-decoration: underline;
//   -webkit-text-underline-position: under;
//   -ms-text-underline-position: under;
//   text-underline-position: under;
 
// }

//ANIMATED UNDERLINE  CODE START////
//@import url(https://fonts.googleapis.com/css?family=Quando);
/* *, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
} */
 * {margin:0;padding:0;border:0 none;position: relative; outline: none;
} 
body {
  background-color: none;
  //font-family: 'Ubuntu', sans-serif;
}

#navbar li {
  display:inline-block;
  overflow: hidden;
   margin: 10px 25px;
}

a.animeline {
  text-decoration: none;
  color: var(--color-primary-light); //text color
  z-index: 1;
}
a.animeline:hover {
  color: #c49f5f;  
}
a.animeline:focus{
  color: #c49f5f;
}

a.animeline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -2px;
  left: 0;
  background: #c49f5f;
  visibility: hidden;
 transform: scaleX(0);
  transition: .25s linear;
}

a.animeline:hover:before,
a.animeline:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
a.animeline:before {
  
  box-shadow: 0 0 0 0 ; 
}
 
@keyframes hover-v {
  0% {
      transform: scaleX(0);
      height: 2px;
     }
  45% {   
      transform: scaleX(1.05);
      height: 2px;
     }
  55% {height: 2px;}
  100% {
      transform: scaleX(1.05);
      height: 3.8rem;
     }
}
@keyframes no-hover-v {
  0% {
      transform: scaleX(1.05);
      height: 3.8rem;
     }
  45% {height: 2px;}
  55% {   
      transform: scaleX(1.05);
      height: 2px;
      opacity: 1;
     }
  
  100% {
      transform: scaleX(0);
      height: 2px;
      opacity: .02;
     }
}


////ANIMATED UNDERLINE CODE END////

//Code below we dont need, delete if you dont need it

// @include breakpoint(md) {
//   .tabs-nav-v2 {
//     li {
//       margin: 0;
//     }
//   }

//   .tabs-nav-v2__item {
//     border-radius: var(--radius-md) var(--radius-md) 0 0;
//     background-color: transparent;
//     border: var(--tabs-nav-border-width) solid transparent;
//     border-bottom-width: 0;

//     &:hover {
//       color: var(--color-primary-light);
//       text-decoration: underline;
//       -webkit-text-underline-position: under;
//       -ms-text-underline-position: under;
//       text-underline-position: under;
//     }
//   }

//   .tabs-nav-v2__item--selected,
//   .tabs-nav-v2__item[aria-selected="true"] {
//     position: relative;
//     background-color: var(--color-bg);
//     color: var(--color-primary);
//     border-color: var(--color-contrast-low);
//     text-decoration: underline;
//     -webkit-text-underline-position: under;
//     -ms-text-underline-position: under;
//     text-underline-position: under;
   

//     &::after {
     
//       content: '';
//       position: absolute;
//       bottom: calc(var(--tabs-nav-border-width) * -1);
//       left: 0;
//       width: 100%;
//       height: var(--tabs-nav-border-width);
//       background-color: var(--color-bg);
//     }

//     &:hover {
//       color: var(--color-primary-light);
//       text-decoration: underline;
//       -webkit-text-underline-position: under;
//       -ms-text-underline-position: under;
//       text-underline-position: under;
//     }
//   }
// }
